<div class="auth-block">
  <h1 style="text-align: center">登录</h1>
    <form class="form-horizontal" (submit)="onLoginSubmit()">
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <input class="form-control" [(ngModel)]="username" name="username" placeholder="用户名">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="密码">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-2">
          <input type="checkbox">
          <span>记住密码</span>
        </div>
        <div class="col-sm-2">
          <a [routerLink]="['/retrieve']" style="float: right">
            <span>忘记密码？</span>
          </a>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <button type="submit" class="btn btn-primary" style="width: 100%">登录</button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
          <a [routerLink]="['/register']">
            <span>还没有账号？快速注册</span>
          </a>
        </div>
      </div>
    </form>
  </div>